*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: "Tw cen MT", sans-serif;
  
}
::-webkit-scrollbar{
width: 20px;

}
::-webkit-scrollbar-track{
background-color: rgba(255, 155, 4, 0.555);


}
::-webkit-scrollbar-thumb{
  background-color: rgba(255, 8, 0, 0.541);
  
  border-radius: 6px;
  }
::-webkit-scrollbar-button{
  background-color: rgba(255, 251, 0, 0.918);
}




.acc{
  color: red;
  
}












body  {
  position: relative;
  background-color: black;
  background-image: linear-gradient(rgba(211, 26, 26, 0.212), rgba(0, 0, 0, 0.1)),url("../images/niblur.jpg");

  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  /* filter: blur(6px); */
}
.container {
  height: 100vh;
  width: 100%;
  padding: 0, 8%;
  --main-color: #484848;
  --main-color2: #0fb6c2;
  /* filter: blur(5px); */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 0;
}
nav ul {
  display: flex;
  justify-content: center;
  flex: 1;
  padding-right: 40px;
  list-style: none;
  margin-top: 2%;
}
ul li {
  margin-right: 10px;
}
ul li a {
  position: relative;
  padding: 10px 20px;
  text-decoration: none;
  color: rgb(255, 217, 4);
  text-shadow: 10px 10px 40px rgba(255, 230, 0, 0.8);

  font-size: 25px;
}
ul li a::after {
  content: "";
  background: rgb(119, 44, 2);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 3px;
  transform: translate(-70%, -5px);
  transition: 0.3s;
}
ul li a:hover::after {
  width: 38%;
}

@media screen and (max-width: 900px) {
}

.footer{
  /* width: 100%; */
  height: 15vh;
  background-color: rgba(139, 0, 0, 0.644);
 margin: 1%;
}

.footer ul.foot{
  display: flex;
  padding: 50px 13px 13px 13px;
  letter-spacing: 10px;
  color: white;
  list-style: none;
  justify-content: center;
  font-size: 30px;
  
} 