div.site-container {
  position: absolute;
}

div.banniere{
  position: relative;
  display: grid;
  grid-template-columns: 1fr  2.5fr;
  grid-auto-rows: auto;


  margin-top: 2%;

  height: 35%;
  width: auto;
  background: linear-gradient(rgba(32, 31, 31, 0.5), rgba(255, 0, 0, 0.356)),
    url(../images/mils3_2.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}



img.image {
  position: relative;
  width: 70%;
  top: 4%;
  right: 0;
  float: right;
  margin: 6px;
  border-radius: 3px;
  transition: 1s all;
  transform-origin: center left;
  box-shadow: 0 5px 12px rgba(0, 89, 255, 0.144);
  outline: 2px solid rgb(63, 56, 56);
  overflow: hidden;
}
img.image:hover {
  cursor: pointer;
  transform: scale(0.9);
}

p.infos {
  display: inline;
  position: absolute;
 
  padding: 8px;
  margin: 14px;
  /* left: 38%; */
  color: aqua;
}
p span {
  line-height: 1.6;
  letter-spacing: 4px;
}

/* couleurs des lignes */
span.album {
  color: yellow;
  font-size: 19px;
}
span.album:hover {
  color: rgb(255, 230, 4);
  font-size: 29px;
  cursor: pointer;
}
span.titre {
  color: white;
  font-size: 25px;
  font-weight: bold;
}
span.titre:hover {
  color: rgb(194, 35, 35);
  font-size: 29px;
  cursor: pointer;
}
span.artiste {
  color: white;
  font-size: 20px;
}
span.artiste:hover {
  color: rgb(194, 35, 35);
  font-size: 29px;
  cursor: pointer;
}
span.released {
  color: rgba(245, 229, 229, 0.699);
}
span.released:hover {
  color: rgb(122, 107, 107);

  cursor: pointer;
}

.grille{
/* position: relative; */
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-auto-rows: auto;

grid-column-gap: 1.5em;
margin-top: 20px;

}
.box1{
  margin-left: 7px;
  border-radius: 2px;
}
.box1 h1 {
color: brown;
padding-left: 35%;
font-style: italic;
padding-bottom: 3%;
text-shadow: 15px 03px 4px rgba(0, 0, 0, 0.8);
box-shadow: 2px 02px 2px 0px rgba(146, 145, 85, 0.363);
border-radius: 07px;

}  
.box2 {
  text-shadow: 05px 01px 8px rgba(0, 0, 0, 0.8);
  background-color: rgba(189, 33, 33, 0.205);
  border-radius: 2px;
  margin-right: 7px;
  /* background-image: url(../images/jefe.jpg); */
 
  letter-spacing: 6px;
}     

p{
  /* margin-top :28px; */
  margin-left: 12px;
  letter-spacing: 4px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  
  padding: 3px;
  line-height: 1.8;
  text-align: justify;
}

details{
  width: 100%;
  margin:0 auto;
  background-color: rgba(189, 33, 33, 0.411);
  /* box-shadow:0.1rem 1rem -0.5rem rgba(0,0,0,0.4); */
  /* border-radius: 5px; */
  /* overflow: hidden; */
  /* box-shadow: 0px 0px 20px 10px rgb(192, 23, 23); */

}
summary{
  font-size: 20px;
  padding:1rem;
  /* display: block; */
  background-color:rgba(202, 185, 185, 0.199);
  padding-left: 2rem;
  border-bottom: 2px solid rgb(0, 0, 0);
  /* position: relative; */
  cursor:pointer;
  letter-spacing: 5px;
  color: rgb(247, 224, 224);
  /* text-shadow: 05px 03px 4px rgba(255, 1, 1, 0.8); */
}

/* summary::before{
  content:"";
  border-width: 0.4rem;
  border-right:solid;
  border-color:transparent transparent transparent #fff;
  position: absolute;
  top:1.3em;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
} */

/* details[open] > summary::before{
  transform:rotate(90deg);
} */
/* details > ul{
  padding: bottom 1rem;
  margin-bottom:0;
} */    
.box1 ul li{
  color: black;
  line-height: 25px;
  padding-left: 14px;
  text-align: justify;
}
.box1 ul li span{
  color: green;
}

.photo{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  /* border: 1px solid black; */
  margin-top: 10px;
  grid-column-gap: 1rem;

}
.photo img{
  width: 100%;
  
}
.cas1.jefe img{
  /* border: 1px solid black; */
  height: 390px;
}
.cas2 img{
  /* border: 1px solid black; */
  height: 390px;
}
.cas3.jefe img{
  /* border: 1px solid black; */
  height: 390px;
}
